@media (max-width: 1220px) {
    .container {
        max-width: 1190px;
        display: flex;
    }
    
}

@media (max-width: 767px) {
    .container{
        max-width: 737px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        row-gap: 20px;

    }
    .header{
        display: flex;
        flex-direction: column;
    }
    .header-hero {
        display: flex;
        flex-direction: column;
    }
    .header-contant{
        display: flex;
        flex-direction: column;
    }
    .header-img {
        max-width: 100%;
        width: auto;
    }
    .header-heading{
        font-size: 40px;
    }
}
@media (max-width: 479px) {

}