@media (max-width: 1220px) {
    .container {
        max-width: 1100px;
    }
    
}
@media (max-width: 1024px) {
    .container {
        width: 800px;
    }
    
}
@media (max-width: 768px) {
    .container {
        max-width: 80vw;
    }
    
}
@media (max-width: 480px) {
    .container {
        max-width: 450px;
    }
    .button {
        width: 320px;
    }
}